body, html {
  line-height: 1;
  font-family: 'kuhei';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text-p;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.g-relative {
  position: relative;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 1.5s ease-in-out
}

.fade-enter-from,
.fade-leave {
  opacity: 0;
}

.fade-leave-to{
  display: none;
}
