body, html {
  line-height: 1;
  font-family: Heiti SC,STHeiti,SimHei;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text-p;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.g-relative {
  position: relative;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 1.5s ease-in-out
}

.fade-enter-from,
.fade-leave {
  opacity: 0;
}

.fade-leave-to{
  display: none;
}

@keyframes logo3 {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: black;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 1;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: black;
    stroke-width: 3;
  }
  90%,
  100% {
    fill: black;
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

@keyframes mainlogo {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: $color-text-p;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 1;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: $color-text-p;
    stroke-width: 3;
  }
  90%,
  100% {
    fill: $color-text-p;
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

@keyframes logo4 {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0);
  }
}