@font-face {
  font-family: 'jingdian';
  src: url('https://warhammer-h5.oss-cn-shanghai.aliyuncs.com/assets/regular/JiZiJingDian.ttf') format('truetype'),
}

@font-face {
  font-family: 'jingdian2';
  src: url('https://warhammer-h5.oss-cn-shanghai.aliyuncs.com/assets/regular/ToppanBunkyuMidashiMinchoStdN-ExtraBold.otf') 
}

