@font-face {
  font-family: 'jingdian';
  src: url('../fonts/JiZiJingDian.ttf') format('truetype'),
}

@font-face {
  font-family: 'jingdian2';
  src: url('../fonts/ToppanBunkyuMidashiMinchoStdN-ExtraBold.otf') 
}

