@font-face {
  font-family: 'otr';
  src: url('../fonts/OTRtypeGX.ttf') format('truetype'),
       url('../fonts//OTRtype-Regular.woff') format('woff'),
       url('../fonts/OTRtype-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'kuhei';
  src: url('../fonts/ZhanKuKuHei-1.ttf')format('truetype'),
       url('../fonts/ZhanKuKuHei-1.woff')format('woff');
}

