// 颜色定义规范
$color-background: rgb(43,47,50);
$color-background-d: rgba(0, 0, 0, 0.3);
$color-highlight-background: #333;
$color-dialog-background: #666;
$color-theme-b: #65798b;
$color-theme-lb: #1B1D20;
$color-theme-y: #A5935D;
$color-sub-theme: #d93f30;
$color-text-p: #FFFFFF;
$color-text-py: #edcc69;
$color-text-title: #C9C9C9;
$color-text-pr: #BC3F2F;

// 字体定义规范
$font-size-small-s: 1rem;
$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-medium-x: 1.6rem;
$font-size-large: 1.8rem;
$font-size-large-x: 2.2rem;